.pdf-form {
  font-family: Arial, sans-serif;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f6ebf8;
}

.custom-h1 {
  color: #8b0000; 
  text-align: center; 
  font-size: 1.25rem; 
}

.form-group {
  margin-bottom: 10px;
}

.form-label {
  display: block;
  font-family: Arial, sans-serif;
  margin-bottom: 5px;
  color: black;
}

.form-input {
  width: calc(100% - 12px);
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.pdf-form-buttons {
  margin-top: 15px;
  text-align: right;
}

.pdf-form-buttons button {
  padding: 8px 15px;
  margin-left: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.pdf-form-buttons button[type="submit"] {
  background-color: #007bff;
  color: #fff;
}

.pdf-form-buttons button[type="submit"]:hover {
  background-color: #0056b3;
}
